<h1>Works Index</h1>

<%= render partial: 'works/search_form' %>

<%= link_to 'New Work', new_work_path %>

<section id="search_results">
</section>

<%= content_for :javascript do %>
  <script>
    'use strict';

    $('.js-work-search-form').on('ajax:success', function(e, data) {
      $('#search_results').html(HandlebarsTemplates.searchResults(data));
    });
  </script>
<% end %>
