<h1>Works Index</h1>

<%= render partial: 'works/search_form' %>

<%= link_to 'New Work', new_work_path %>

<section id="search_results">
</section>

<%= content_for :javascript do %>
  <script>
    (function() {
      'use strict';
        System.import('components/search_renderer').then(function(searchRenderer) {
           searchRenderer.render('.js-work-search-form', '#search_results');
        });
    })();
  </script>
<% end %>
