<h2>Search Results</h2>
{{#items}}
  <div id="gb_{{id}}">
    {{#with volumeInfo}}
      <img src="{{imageLinks.smallThumbnail}}" alt="{{title}}-cover">
      <p><a href="{{canonicalVolumeLink}}" target="_blank">{{title}}</a></p>
      <p>
        {{join authors ', '}} {{publisher}} {{publishedDate}}
      </p>
      <form action="<%= Rails.application.routes.url_helpers.works_path %>" method="post" data-remote="true" class="js-add-item-form" style="display:none;">
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="author" value="{{join authors ', '}}">
        <input type="hidden" name="publisher" value="{{publisher}}">
        <input type="hidden" name="publishedDate" value="{{publishedDate}}">
        <input type="hidden" name="format" value="{{printType}}">
        <input type="hidden" name="remote_id" value="{{../id}}">
        <input type="number" name="quantity" value="1" min="1">
        <button data-disable-with="Adding...">Add To Inventory</button>
      </form>
    {{/with}}
  </div>
{{/items}}
